/* scope-one-regular - latin */
@font-face {
    font-family: 'Scope One';
    font-style: normal;
    font-weight: 400;
    src: url('scope-one-v9-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('scope-one-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('scope-one-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('scope-one-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('scope-one-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('scope-one-v9-latin-regular.svg#ScopeOne') format('svg'); /* Legacy iOS */
}
  
html, body {
    font-family: "Scope One", serif;
}
h2 {
    font-size: 1.4rem;
    font-weight: bold;
}
h3 {
    font-size: 1.2rem;
    font-weight: bold;
}
hr {
    margin: 0;
}
.links:hover, .links:focus {
    color: rgba(0,0,0,0.85);
}
.links {
    color: rgba(0,0,0,0.65);
    text-decoration: none;
    font-weight: bold;
}
.search {
    font-weight: bold;
    font-size: 1.25rem;
}
.card {
    background-color: #EFEFEF;
}