<!doctype html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Scope+One&display=swap" rel="stylesheet">

    <link href="/static/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="/static/dropzone/min/dropzone.min.css" rel="stylesheet">
    <link href="/static/style.css" rel="stylesheet">

    <title>Searotes</title>
</head>

<body>
    
    <div class="container-fluid">
        <div class="row">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#" data-bs-toggle="modal" data-bs-target="#configuration">Searotes</a>
                    <form class="d-flex  flex-fill">
                        <input class="form-control me-2" type="search" name="search" value="{{text}}" placeholder="" aria-label="Search">
                        <button class="btn btn-outline-light" type="submit">Buscar</button>
                    </form>
                </div>
            </nav>

            <div class="col">
                {% if documents_search %}
                    <h2 class="mt-2">Resultados:</h2>

                    {% for document in documents_search %}
                        <div class="row">
                            <h3>{{document.title}} - {{document.path}}</h3>
                            <p>{{document.content|safe}}</p>
                        </div>
                    {% endfor %}

                {% else %}
                    <div>
                        <h2 class="mt-2">Aún no hay resultados.</h2>
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col">
                <hr>
                <i>Tiempo de indexado: {{index_time}}, Tiempo de búsqueda {{search_time}}</i><br>
                <a href="https://github.com/OwariStudios/Searotes" class="links" target="_blank" rel="noreferrer noopener">Código fuente</a> - Creado por <a href="https://twitter.com/episuarez" class="links" target="_blank" rel="noreferrer noopener">@episuarez</a> - Si te gusta puedes <a href="https://www.buymeacoffee.com/episuarez" class="links" target="_blank" rel="noreferrer noopener">apoyar mi trabajo</a>.
            </div>
        </div>
    </div>

    <div class="modal fade" id="configuration" tabindex="-1" aria-labelledby="configurationLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="configurationLabel">Configuración</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h2>Importa tus documentos</h2>
                    <form action="{{url_for('upload_files')}}" class="dropzone" id="uploader" enctype="multipart/form-data">
                        <div class="fallback">
                          <input name="file" type="file" multiple />
                        </div>
                    </form>

                    <h2 class="mt-2">¿Dónde buscar?</h2>

                    <div class="form-check">
                        <input class="form-check-input check" type="checkbox" value="" id="check_wikipedia" {% if check.wikipedia %}checked{% endif %}>
                        <label class="form-check-label" for="check_wikipedia">
                            Wikipedia
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input check" type="checkbox" value="" id="check_daypo" {% if check.daypo %}checked{% endif %}>
                        <label class="form-check-label" for="check_daypo">
                            Daypo
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input check" type="checkbox" value="" id="check_documents" {% if check.documents %}checked{% endif %}>
                        <label class="form-check-label" for="check_documents">
                            Documentos
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <script async src="/static/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/static/dropzone/min/dropzone.min.js"></script>
    <script>
        Dropzone.autoDiscover = false;

        window.onload = function () {
            var dropzoneOptions = {
                autoProcessQueue: true,
                parallelUploads: 1,
                addRemoveLinks:true
            };
            var uploader = document.querySelector('#uploader');
            var newDropzone = new Dropzone(uploader, dropzoneOptions);
        };

        document.querySelectorAll(".check").forEach(function(element) {
            element.addEventListener('change', (event) => {
                var data = {
                    "wikipedia": document.getElementById("check_wikipedia").checked,
                    "daypo": document.getElementById("check_daypo").checked,
                    "documents": document.getElementById("check_documents").checked,
                };

                var xhr = new XMLHttpRequest();
                xhr.open("POST", "/checks");

                xhr.setRequestHeader("Accept", "application/json");
                xhr.setRequestHeader("Content-Type", "application/json");

                xhr.onreadystatechange = function () {};
                xhr.send(JSON.stringify(data));
            });
        });
    </script>
</body>

</html>