<!doctype html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Scope+One&display=swap" rel="stylesheet">

    <link href="/static/style.css" rel="stylesheet">

    <title>Searotes</title>
</head>

<body>
    
    <div class="container-fluid">
        <div class="row">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#" data-bs-toggle="modal" data-bs-target="#configuration">Searotes</a>
                        <form class="d-flex  flex-fill">
                            <input class="form-control me-2" type="search" name="search" value="{{search}}" placeholder="" aria-label="Search">
                            <button class="btn btn-outline-light" type="submit">Buscar</button>
                        </form>
                </div>
            </nav>

            <div class="col">
                    {% if results %}

                        {% if results.wikipedia %}
                            <h2 class="mt-3">Wikipedia</h2>

                            <div class="row">
                                <h3><a class="links" href="{{results.wikipedia.url}}" target="_blank">{{search}}</a></h5>
                                <p>{{results.wikipedia.data|safe}}...</p>
                            </div>
                         
                        {% else %}
                            <h2 class="mt-3">Wikipedia</h2>
                            No hay resultados en la wikipedia.
                        {% endif %}

                        {% if results.documents %}
                            <h2 class="mt-3">Documentos</h2>

                            {% for document in results.documents %}
                                <div class="row">
                                    <h3 class="links">{{document.file}} - Cantidad: {{document.cantidad}}</h3>
                                    <p>{{document.data|safe}}</p>
                                </div>
                            {% endfor %}

                        {% else %}
                            <h2 class="mt-3">Documentos</h2>
                            No hay resultados en los {{numero_documentos}} documentos.
                        {% endif %}

                        {% if results.daypo %}
                            <h2 class="mt-3">Daypo</h2>

                            {% for document in results.daypo %}
                                <div class="row">
                                    <h3><a class="links" href="{{document.url}}" target="_blank">{{document.title}}</a></h3>
                                    <p>{{document.description|safe}}</p>
                                </div>
                            {% endfor %}
                        {% else %}
                            <h2 class="mt-3">Daypo</h2>
                            No hay resultados en Daypo.
                        {% endif %}

                    {% else %}
                        <div class="mt-2 mb-2">
                            Aún no hay resultados.
                        </div>
                    {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col mt-2">
                <hr>
                <a href="https://github.com/OwariStudios/Searotes" class="links" target="_blank">Código fuente</a> - Creado por <a href="https://twitter.com/episuarez" class="links" target="_blank">@episuarez</a> - Si te gusta puedes <a href="https://www.patreon.com/episuarez" class="links" target="_blank">apoyar mi trabajo</a>.
            </div>
        </div>
    </div>

    <div class="modal fade" id="configuration" tabindex="-1" aria-labelledby="configurationLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="configurationLabel">Configuración</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <p>Cantidad de documentos cargados: {{numero_documentos}}</p>
                    </div>
                    <div class="mb-3">
                        <label for="pathLabel" class="form-label">Path de apuntes:</label>
                        <input type="text" class="form-control" id="pathLabel" value="{{path_documents}}">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" onclick="change_path()">Guardar</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>

    <script>
        function change_path() {
            window.location.href = "/change_path/" + document.getElementById("pathLabel").value;
        }        
    </script>
</body>

</html>